<app-header title="Class Declaration" description="Classes represents 'things' in your application. They are used to store data that later can be saved in your
            database, displayed to your users etc...">
</app-header>

<form (ngSubmit)="onSubmit(f)" #f="ngForm">
  <div class="form-row">
    <div class="form-group col-md-4">
      <label for="className">Class name:</label>
      <input type="text" class="form-control" id="className" name="className" aria-describedby="objectName"
        placeholder="eg. Bike" required ngModel>
      <small id="classNameHelp" class="form-text text-muted">What's the name of this thing? </small>
    </div>
    <div class="form-group col-md-4">
      <label for="classPluralName">Class Plural Name:</label>
      <input type="text" class="form-control" id="classPluralName" name="classPluralName"
        aria-describedby="objectNamePlural" placeholder="eg. Bikes" required ngModel>
      <small id="classPluralNameHelp" class="form-text text-muted">How do you call a set of these objects?</small>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-4">
      <label for="classDescription">Class Description:</label>
      <input type="text" class="form-control" id="classDescription" name="classDescription"
        aria-describedby="objectNamePlural" placeholder="eg. A bike to buy or sell" required ngModel>
      <small id="classDescriptionHelp" class="form-text text-muted">What's the purpose of this thing?</small>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group">
      <button class="btn btn-primary" style="margin-right: 15px">Create</button>
    </div>
    <div class="form-group">
      <button type="reset" class="btn btn-warning">Clear</button>
    </div>
  </div>
</form>


<br>

<div class="row row-centered">

  <div class="col-md-5 mb-3 align-self-center">
    <label for="classNameFilter">Filter</label>
    <div class="input-group">
      <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroupPrepend">
          <i class="fa fa-filter" aria-hidden="true" style="font-size: x-large"> </i>
        </span>
      </div>
      <input type="text" class="form-control" id="classNameFilter" placeholder="type a class name"
        aria-describedby="inputGroupPrepend" (input)="onFilter($event)">
    </div>
  </div>

  <i class=""></i>
</div>


<div class="text-center" *ngIf="isLoading">
  <div class="spinner-border" role="status">
    <span class="sr-only">Loading...</span>
  </div>
</div>

<div class="row">


  <p *ngFor="let oClass of classes">
    <app-class-item *ngIf="oClass.display" [ioClass]="oClass"></app-class-item>
  </p>


</div>