
<app-header title="Objects " description="Objects are 'the things' of your application. They can be your users, products or simply store 
any sort of iformation">
</app-header>

<form (ngSubmit)="onSubmit(f)" #f="ngForm">
    <div class="form-group col-md-4">
        <label for="typeSelect">Class</label>
        <select class="form-control" id="typeSelect" name="typeField" (change)="onClassChange($event.target.value)">
          <option *ngFor="let c of ioClasses" value="{{c.fieldGet('className').value}}">
            {{c.fieldGet('className').value}}
        </option>
        </select>
        <small id=" classNameHelp" class="form-text text-muted">What's the name of this thing? </small>
    </div>

    <div class="form-group row" *ngFor="let f of selectedClass.fieldGetExcludeClassFields(); let i = index">
      <label class="col-sm-1 col-form-label" for="{{f.fieldKey + '_id_' + i}}">{{f.label}}</label>
      <input type="text" class="col-sm-10 form-control" id="{{f.fieldKey + '_id_' + i}}" name="{{f.fieldKey}}"
          placeholder="{{f.label}}" ngModel>
  </div>

    <div class="form-row">
        <div class="form-group">
            <button class="btn btn-primary" style="margin-right: 15px">Create</button>
        </div>
        <div class="form-group">
            <button type="reset" class="btn btn-warning">Clear</button>
        </div>
    </div>
</form>

<hr>
<p class="h5">Listing Objects</p>

<table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">ID</th>
        <th scope="col">Class</th>
        <th scope="col">Fields</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let o of ioObjects; index as i">
        <th scope="row">{{i+1}}</th>
        <td>{{o.id}}</td>
        <td>{{o.class}}</td>
        <td>
            <p *ngFor="let f of o.fields">
                {{f.label}}: {{f.value}}
              </p>
        </td>
      </tr>
    </tbody>
  </table>