<form (ngSubmit)="onSubmit(f)" #f="ngForm">
  <div class="form-group">
    <label for="emailInput">Email address</label>
    <input type="email" class="form-control" id="emailInput" aria-describedby="emailHelp"
           placeholder="Enter email" name="email" ngModel>
    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
  </div>
  <div class="form-group">
    <label for="passwordInput">Password</label>
    <input type="password" class="form-control" id="passwordInput" placeholder="Password" name="password" ngModel>
  </div>
  <button type="submit" class="btn btn-primary">
    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"  [ngClass]="{invisible: !isLoading}" ></span>
    Login
  </button>
</form>
