<app-header title="Fields Definition" description="Field represents 'adjectives', or any other information about a object. This piece of information is unique
             for each object">
</app-header>

<div class="container">
  <div class="container">

    <h2>{{className}}
      <small class="text-muted">({{classPlural}})</small>
    </h2>
    <small class="text-muted">id: {{classID}}</small>
    <hr>


    <form (ngSubmit)="onSubmitProperties(f)" #f="ngForm">
      <p class="h5"> Edit Class Properties</p>
      <div class="form-row">
        <div class="form-group col-md-4">
          <label for="cName">Class name</label>
          <input type="text" name="className" class="form-control" id="cName" placeholder="Class name"
            [ngModel]="className">
        </div>
        <div class="form-group col-md-4">
          <label for="cpname">Plural name</label>
          <input type="text" class="form-control" id="cpname" placeholder="Plural Name" [ngModel]="classPlural"
            name="classPlural">
        </div>
        <div class="form-group col-md-4">
          <label for="cdesc">Description</label>
          <input type="text" class="form-control" id="cdesc" placeholder="Description" [ngModel]="classDescription"
            name="classDescription">
        </div>
      </div>
      <button class="btn btn-primary" style="margin-right: 15px">Update</button>

      <hr>

      <p class="h5">Create Class Field</p>
      <div class="form-row">
        <div class="col-md-3 mb-3">
          <label for="labelField">Label</label>
          <input type="text" class="form-control" id="labelField" placeholder="ie. Color" name="labelField" ngModel>
        </div>

        <div class="col-md-3 mb-3">
          <label for="typeSelect">Type</label>
          <select class="form-control" id="typeSelect" name="typeField" [ngModel]="fieldType">
            <option selected="selected">TEXT</option>
            <option>NUMBER</option>
            <option>BOOLEAN</option>
            <option>DATETIME</option>
          </select>
        </div>

        <div class="col-md-3 mb-3">
          <label for="RequiredSelect">Required</label>
          <select class="form-control" id="RequiredSelect" name="requiredField" [(ngModel)]="fieldRequired">
            <option>YES</option>
            <option selected>NO</option>
          </select>
        </div>

      </div>

      <button class="btn btn-primary" type="submit">Create Field</button>

    </form>


    <hr>
    <br>
    <p class="h5">Listing All fields</p>
    <div class="row">
      <div class="card" style="width: 18rem; margin: 0 0 10px 10px;" *ngFor="let f of fields">
        <div class="card-body">

          <h5><strong>{{f.label}}</strong>
            <div class="row container">
              <small class="small text-muted"> id: &nbsp;</small>
              <p class="small text-muted" #fieldKeyEle> {{ f.fieldKey}} </p>
            </div>
          </h5>
          <h6>Type: {{f.type}}</h6>
          <h6>Required: {{ f.required ? 'YES' : 'NO' }}</h6>
          <button type="button" class="btn btn-link row" (click)="OnDeleteField(fieldKeyEle)">Delete
          </button>
        </div>
      </div>
    </div>

  </div>
</div>