<div class="card border-secondary mb-3" style="max-width: 18rem; margin: 15px">
  <div class="card-header">
    <a routerLink="{{classID}}">
      {{className}} {{' (' + classPlural +') '}}
    </a>
  </div>
  <div class="card-body text-secondary">
    <p class="card-text">{{classDescription}}</p>

    <ul *ngFor="let f of fields">
      <li>{{f.label}}</li>
    </ul>

    <a routerLink="{{classID}}"> <i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>

  </div>


</div>