<!-- Grey with black text -->
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" routerLink="/">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLinkActive="active" routerLink="/class" *ngIf="isAuthenticated"> Classes</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLinkActive="active" routerLink="/object" *ngIf="isAuthenticated">Objects</a>
    </li>
    <li class="nav-item">
      <a class="nav-link " routerLinkActive="active" routerLink="/accounts" *ngIf="isAuthenticated">Accounts</a>
    </li>

    <li class="nav-item">
      <a class="nav-link " routerLinkActive="active" routerLink="/accounts" *ngIf="isAuthenticated"
      (click)="onLogout()">Logout</a>
    </li>

  </ul>


</nav>
